<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: header"> </header>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <h3>Χρήστης <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h3>
            <table class="table">
                <thead>
                <tr>
                    <th> Όνομα </th>
                    <th> Επώνυμο </th>
                    <th> Email </th>
                    <th> Ημερομηνία γέννησης </th>
                </tr>
                </thead>
                <tbody>
                    <td><span th:text="${user.firstName}"> </span></td>
                    <td><span th:text="${user.lastName}"> </span></td>
                    <td><span th:text="${user.email}"> </span></td>
                    <td><span th:text="${user.dateOfBirth}"></span></td>
                </tbody>
            </table>

            <h3>Αίτηση Χρήστη</h3>
            <table class="table">
                <thead>
                <tr>
                    <th> Εισόδημα </th>
                    <th> Αδέρφια στην ίδια πόλη </th>
                    <th> Αδέρφια σε διαφορετική πόλη </th>
                    <th> Έτος στην εστία </th>
                    <th> Κατάσταση αίτησης </th>
                </tr>
                </thead>
                <tbody>
                <td><span th:text="${app.eisodima}"> </span></td>
                <td><span th:text="${app.aderfia_stin_idia_poli}"> </span></td>
                <td><span th:text="${app.aderfia_se_diaforetiki_poli}"> </span></td>
                <td><span th:text="${app.year}"></span></td>
                <td><span th:text="${app.status}"></span></td>
                </tbody>
            </table>
            <form action="#" th:action="@{/change_application_status/{id}(id=${app.id})}" th:object="${app}" method="post">
                <div class="form-group">
                    <h4>Αλλαγή κατάστασης αίτησης</h4>

                    <div class="form-group">
                        <label>Κατάσταση</label>
                        <select class="form-control" th:field="*{status}">
                            <option th:value="0" th:text="Αναμονή"></option>
                            <option th:value="1" th:text="Δεκτή"></option>
                            <option th:value="2" th:text="Απορρίφθηκε"></option>
                        </select>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Καταχώρηση</button>
            </form>

        </div>
    </div>
</div>
</body>

</html>