<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: headerfiles">

</head>
<body>

<header th:insert="fragments.html :: header"> </header>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <h3>Ενημέρωση ορίου</h3>
            <div th:if="${success}">
                Επιτυχής ανανέωση!
            </div>
            <form action="#" th:action="@{/intranet/update_settings}" th:object="${settings}" method="post">

                <div class="form-group">
                    <label>Όριο</label>
                    <input type="number" class="form-control" th:field="*{house_limit}" th:required="required">
                </div>



                <button type="submit" class="btn btn-primary">Καταχώρηση</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>